In [5]:
import pandas as pd
dataset=pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [6]:
dataset=dataset.drop("User ID",axis=1)
dataset=pd.get_dummies(dataset,drop_first=True,dtype=int)
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [7]:
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [8]:
independent = dataset[['Age', 'EstimatedSalary', 'Gender_Male']]
dependent = dataset[['Purchased']]

In [9]:
dependent.value_counts()

Purchased
0            257
1            143
Name: count, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test= train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [12]:

from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

param_grid={'n_estimators':[10,100,500],'criterion':['gini','entropy','log_loss']}

grid = GridSearchCV(RandomForestClassifier(),param_grid,refit=True,verbose=3,n_jobs=-1,scoring='f1_weighted')
grid = grid.fit(X_train,Y_train)

grid_prediction = grid.predict(X_test)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test,grid_prediction)
from sklearn.metrics import classification_report
cfr=classification_report(Y_test,grid_prediction)
print("****************************************************************************")
print(cm)
print("****************************************************************************")
print(cfr)
print("****************************************************************************")


from sklearn.metrics import roc_auc_score
rac=roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1])
print(rac)

dic = grid.cv_results_
table = pd.DataFrame.from_dict(dic)
table

Fitting 5 folds for each of 9 candidates, totalling 45 fits

C:\Users\nravi378\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

****************************************************************************
[[74  5]
 [ 5 36]]
****************************************************************************
              precision    recall  f1-score   support

           0       0.94      0.94      0.94        79
           1       0.88      0.88      0.88        41

    accuracy                           0.92       120
   macro avg       0.91      0.91      0.91       120
weighted avg       0.92      0.92      0.92       120

****************************************************************************
0.9661932695276321

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.036972,0.008109,0.011581,0.001277,gini,10,"{'criterion': 'gini', 'n_estimators': 10}",0.855314,0.782971,0.823129,0.859025,0.907658,0.845619,0.041360,9
1,0.192576,0.012871,0.020391,0.001002,gini,100,"{'criterion': 'gini', 'n_estimators': 100}",0.874254,0.838326,0.823129,0.911105,0.928571,0.875077,0.040521,6
2,0.852511,0.027143,0.062850,0.003893,gini,500,"{'criterion': 'gini', 'n_estimators': 500}",0.874254,0.875644,0.823129,0.911105,0.946663,0.886159,0.041251,3
3,0.026852,0.008240,0.009643,0.000360,entropy,10,"{'criterion': 'entropy', 'n_estimators': 10}",0.835985,0.821429,0.804584,0.892857,0.946153,0.860201,0.052225,8
4,0.180052,0.006747,0.020144,0.000023,entropy,100,"{'criterion': 'entropy', 'n_estimators': 100}",0.874254,0.857143,0.841398,0.911105,0.946663,0.886113,0.038132,4
5,0.856498,0.016899,0.068002,0.007470,entropy,500,"{'criterion': 'entropy', 'n_estimators': 500}",0.874254,0.857143,0.841398,0.911105,0.946153,0.886011,0.037970,5
6,0.022180,0.008635,0.010475,0.000806,log_loss,10,"{'criterion': 'log_loss', 'n_estimators': 10}",0.892857,0.874254,0.804584,0.892857,0.890114,0.870933,0.033890,7
7,0.171607,0.010029,0.020149,0.000013,log_loss,100,"{'criterion': 'log_loss', 'n_estimators': 100}",0.892857,0.857143,0.841398,0.911105,0.928571,0.886215,0.032593,2
8,0.824123,0.036865,0.037972,0.007359,log_loss,500,"{'criterion': 'log_loss', 'n_estimators': 500}",0.874254,0.875644,0.841398,0.911105,0.946153,0.889711,0.035817,1

In [14]:

from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import ExtraTreesClassifier

param_grid={'n_estimators':[10,100,500],'criterion':['gini','entropy','log_loss']}

grid = GridSearchCV(ExtraTreesClassifier(),param_grid,refit=True,verbose=3,n_jobs=-1,scoring='f1_weighted')
grid = grid.fit(X_train,Y_train)

grid_prediction = grid.predict(X_test)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test,grid_prediction)
from sklearn.metrics import classification_report
cfr=classification_report(Y_test,grid_prediction)
print("****************************************************************************")
print(cm)
print("****************************************************************************")
print(cfr)
print("****************************************************************************")


from sklearn.metrics import roc_auc_score
rac=roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1])
print(rac)

dic = grid.cv_results_
table = pd.DataFrame.from_dict(dic)
table

Fitting 5 folds for each of 9 candidates, totalling 45 fits
****************************************************************************
[[74  5]
 [ 4 37]]
****************************************************************************
              precision    recall  f1-score   support

           0       0.95      0.94      0.94        79
           1       0.88      0.90      0.89        41

    accuracy                           0.93       120
   macro avg       0.91      0.92      0.92       120
weighted avg       0.93      0.93      0.93       120

****************************************************************************
0.9512195121951219

C:\Users\nravi378\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.025888,0.004676,0.011727,0.003239,gini,10,"{'criterion': 'gini', 'n_estimators': 10}",0.835985,0.874254,0.787755,0.822861,0.891667,0.842504,0.037016,9
1,0.129241,0.004293,0.016942,0.003955,gini,100,"{'criterion': 'gini', 'n_estimators': 100}",0.874254,0.893878,0.824293,0.893717,0.963889,0.890006,0.044841,1
2,0.620478,0.005248,0.060383,0.000079,gini,500,"{'criterion': 'gini', 'n_estimators': 500}",0.874254,0.875644,0.806153,0.876368,0.964286,0.879341,0.050240,4
3,0.014534,0.003890,0.014502,0.005483,entropy,10,"{'criterion': 'entropy', 'n_estimators': 10}",0.855314,0.838326,0.823129,0.892857,0.868182,0.855562,0.024080,8
4,0.126779,0.004947,0.019726,0.005160,entropy,100,"{'criterion': 'entropy', 'n_estimators': 100}",0.874254,0.838326,0.787755,0.893717,0.928571,0.864525,0.048226,7
5,0.608559,0.008914,0.060809,0.011087,entropy,500,"{'criterion': 'entropy', 'n_estimators': 500}",0.874254,0.875644,0.806153,0.911105,0.946153,0.882662,0.046505,2
6,0.020165,0.000037,0.009683,0.000832,log_loss,10,"{'criterion': 'log_loss', 'n_estimators': 10}",0.872432,0.875644,0.787755,0.911105,0.927778,0.874943,0.048390,6
7,0.124892,0.004214,0.019729,0.000824,log_loss,100,"{'criterion': 'log_loss', 'n_estimators': 100}",0.874254,0.857143,0.824293,0.876368,0.964286,0.879269,0.046418,5
8,0.507123,0.044557,0.042873,0.004359,log_loss,500,"{'criterion': 'log_loss', 'n_estimators': 500}",0.874254,0.838326,0.842217,0.893717,0.964286,0.882560,0.045731,3

In [17]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import HistGradientBoostingClassifier

param_grid={'loss':['log_loss']}

grid = GridSearchCV(HistGradientBoostingClassifier(),param_grid,refit=True,verbose=3,n_jobs=-1,scoring='f1_weighted')
grid = grid.fit(X_train,Y_train)

grid_prediction = grid.predict(X_test)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test,grid_prediction)
from sklearn.metrics import classification_report
cfr=classification_report(Y_test,grid_prediction)
print("****************************************************************************")
print(cm)
print("****************************************************************************")
print(cfr)
print("****************************************************************************")


from sklearn.metrics import roc_auc_score
rac=roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1])
print(rac)

dic = grid.cv_results_
table = pd.DataFrame.from_dict(dic)
table

Fitting 5 folds for each of 1 candidates, totalling 5 fits

C:\Users\nravi378\AppData\Local\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

****************************************************************************
[[74  5]
 [ 5 36]]
****************************************************************************
              precision    recall  f1-score   support

           0       0.94      0.94      0.94        79
           1       0.88      0.88      0.88        41

    accuracy                           0.92       120
   macro avg       0.91      0.91      0.91       120
weighted avg       0.92      0.92      0.92       120

****************************************************************************
0.9658845322630442

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_loss,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.06199,0.00499,0.004437,0.006156,log_loss,{'loss': 'log_loss'},0.857143,0.875644,0.823129,0.911105,0.964286,0.886261,0.048273,1