In [3]:
import pandas as pd
dataset=pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset=dataset.drop("User ID",axis=1)
dataset=pd.get_dummies(dataset,drop_first=True,dtype=int)
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [5]:
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [6]:
independent = dataset[['Age', 'EstimatedSalary', 'Gender_Male']]
dependent = dataset[['Purchased']]

In [7]:
dependent.value_counts()

Purchased
0            257
1            143
Name: count, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test= train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [13]:

from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

pagrid={'n_neighbors': [3,5,10,15],'weights':['uniform','distance'],'algorithm':['auto','ball_tree','kd_tree','brute']}

grid = GridSearchCV(KNeighborsClassifier(),pagrid,refit=True,verbose=3,n_jobs=-1,scoring='f1_weighted')
grid = grid.fit(X_train,Y_train)

grid_prediction = grid.predict(X_test)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test,grid_prediction)
from sklearn.metrics import classification_report
cfr=classification_report(Y_test,grid_prediction)
print("****************************************************************************")
print(cm)
print("****************************************************************************")
print(cfr)
print("****************************************************************************")


from sklearn.metrics import roc_auc_score
rac=roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1])
print(rac)

dic = grid.cv_results_
table = pd.DataFrame.from_dict(dic)
table

Fitting 5 folds for each of 32 candidates, totalling 160 fits
****************************************************************************
[[73  6]
 [15 26]]
****************************************************************************
              precision    recall  f1-score   support

           0       0.83      0.92      0.87        79
           1       0.81      0.63      0.71        41

    accuracy                           0.82       120
   macro avg       0.82      0.78      0.79       120
weighted avg       0.82      0.82      0.82       120

****************************************************************************
0.8465575794998457

C:\Users\nravi378\AppData\Local\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [0.78788668 0.77021642 0.7683438  0.75944153 0.75198408 0.76267585
 0.7921307  0.76182061 0.78788668 0.77021642 0.7683438  0.75944153
 0.75198408 0.76267585 0.7921307  0.76182061 0.78788668 0.77021642
 0.7683438  0.75944153 0.75198408 0.76267585 0.7921307  0.76182061
        nan 0.77021642        nan 0.75944153        nan 0.76267585
        nan 0.76182061]
  warnings.warn(
C:\Users\nravi378\AppData\Local\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:228: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_algorithm,param_n_neighbors,param_weights,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.006274,0.001985,0.014333,1.210109e-03,auto,3,uniform,"{'algorithm': 'auto', 'n_neighbors': 3, 'weigh...",0.802399,0.819142,0.746799,0.804432,0.766661,0.787887,0.026833,4
1,0.003251,0.001794,0.005638,5.019559e-03,auto,3,distance,"{'algorithm': 'auto', 'n_neighbors': 3, 'weigh...",0.799537,0.763089,0.717007,0.819444,0.752005,0.770216,0.036047,7
2,0.004210,0.000761,0.013990,1.733911e-03,auto,5,uniform,"{'algorithm': 'auto', 'n_neighbors': 5, 'weigh...",0.769053,0.726641,0.758813,0.839990,0.747222,0.768344,0.038496,11
3,0.002600,0.001356,0.008390,4.271838e-03,auto,5,distance,"{'algorithm': 'auto', 'n_neighbors': 5, 'weigh...",0.782971,0.746799,0.697993,0.819444,0.750000,0.759442,0.040445,22
4,0.001800,0.001470,0.007686,6.488534e-03,auto,10,uniform,"{'algorithm': 'auto', 'n_neighbors': 10, 'weig...",0.763089,0.782971,0.699092,0.819444,0.695324,0.751984,0.048254,26
5,0.001212,0.001485,0.009585,7.399278e-03,auto,10,distance,"{'algorithm': 'auto', 'n_neighbors': 10, 'weig...",0.799537,0.763089,0.697993,0.819444,0.733316,0.762676,0.043880,14
6,0.000000,0.000000,0.015623,2.452816e-06,auto,15,uniform,"{'algorithm': 'auto', 'n_neighbors': 15, 'weig...",0.782971,0.891485,0.708141,0.822861,0.755195,0.792131,0.062158,1
7,0.012055,0.006048,0.002902,5.804825e-03,auto,15,distance,"{'algorithm': 'auto', 'n_neighbors': 15, 'weig...",0.799537,0.758813,0.697993,0.819444,0.733316,0.761821,0.043906,18
8,0.015180,0.000545,0.000000,0.000000e+00,ball_tree,3,uniform,"{'algorithm': 'ball_tree', 'n_neighbors': 3, '...",0.802399,0.819142,0.746799,0.804432,0.766661,0.787887,0.026833,4
9,0.005805,0.007109,0.006256,7.661780e-03,ball_tree,3,distance,"{'algorithm': 'ball_tree', 'n_neighbors': 3, '...",0.799537,0.763089,0.717007,0.819444,0.752005,0.770216,0.036047,7
10,0.000000,0.000000,0.015628,5.873813e-06,ball_tree,5,uniform,"{'algorithm': 'ball_tree', 'n_neighbors': 5, '...",0.769053,0.726641,0.758813,0.839990,0.747222,0.768344,0.038496,11
11,0.000000,0.000000,0.015629,5.569817e-06,ball_tree,5,distance,"{'algorithm': 'ball_tree', 'n_neighbors': 5, '...",0.782971,0.746799,0.697993,0.819444,0.750000,0.759442,0.040445,22
12,0.012503,0.006252,0.006252,7.657519e-03,ball_tree,10,uniform,"{'algorithm': 'ball_tree', 'n_neighbors': 10, ...",0.763089,0.782971,0.699092,0.819444,0.695324,0.751984,0.048254,26
13,0.009378,0.007657,0.006250,7.655123e-03,ball_tree,10,distance,"{'algorithm': 'ball_tree', 'n_neighbors': 10, ...",0.799537,0.763089,0.697993,0.819444,0.733316,0.762676,0.043880,14
14,0.003125,0.006251,0.012500,6.250167e-03,ball_tree,15,uniform,"{'algorithm': 'ball_tree', 'n_neighbors': 15, ...",0.782971,0.891485,0.708141,0.822861,0.755195,0.792131,0.062158,1
15,0.000000,0.000000,0.015624,1.775218e-06,ball_tree,15,distance,"{'algorithm': 'ball_tree', 'n_neighbors': 15, ...",0.799537,0.758813,0.697993,0.819444,0.733316,0.761821,0.043906,18
16,0.003724,0.006061,0.014798,9.141470e-03,kd_tree,3,uniform,"{'algorithm': 'kd_tree', 'n_neighbors': 3, 'we...",0.802399,0.819142,0.746799,0.804432,0.766661,0.787887,0.026833,4
17,0.001995,0.002521,0.015069,5.772354e-03,kd_tree,3,distance,"{'algorithm': 'kd_tree', 'n_neighbors': 3, 'we...",0.799537,0.763089,0.717007,0.819444,0.752005,0.770216,0.036047,7
18,0.001800,0.001470,0.014715,6.342748e-03,kd_tree,5,uniform,"{'algorithm': 'kd_tree', 'n_neighbors': 5, 'we...",0.769053,0.726641,0.758813,0.839990,0.747222,0.768344,0.038496,11
19,0.001800,0.001470,0.011988,5.959893e-03,kd_tree,5,distance,"{'algorithm': 'kd_tree', 'n_neighbors': 5, 'we...",0.782971,0.746799,0.697993,0.819444,0.750000,0.759442,0.040445,22
20,0.001400,0.001744,0.016085,7.220162e-03,kd_tree,10,uniform,"{'algorithm': 'kd_tree', 'n_neighbors': 10, 'w...",0.763089,0.782971,0.699092,0.819444,0.695324,0.751984,0.048254,26
21,0.001800,0.001470,0.012305,5.647632e-03,kd_tree,10,distance,"{'algorithm': 'kd_tree', 'n_neighbors': 10, 'w...",0.799537,0.763089,0.697993,0.819444,0.733316,0.762676,0.043880,14
22,0.001201,0.001471,0.011296,5.385371e-03,kd_tree,15,uniform,"{'algorithm': 'kd_tree', 'n_neighbors': 15, 'w...",0.782971,0.891485,0.708141,0.822861,0.755195,0.792131,0.062158,1
23,0.000000,0.000000,0.015625,8.176054e-07,kd_tree,15,distance,"{'algorithm': 'kd_tree', 'n_neighbors': 15, 'w...",0.799537,0.758813,0.697993,0.819444,0.733316,0.761821,0.043906,18
24,0.009375,0.007655,0.003125,6.250191e-03,brute,3,uniform,"{'algorithm': 'brute', 'n_neighbors': 3, 'weig...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,29
25,0.000000,0.000000,0.012501,6.250477e-03,brute,3,distance,"{'algorithm': 'brute', 'n_neighbors': 3, 'weig...",0.799537,0.763089,0.717007,0.819444,0.752005,0.770216,0.036047,7
26,0.003125,0.006250,0.003125,6.250477e-03,brute,5,uniform,"{'algorithm': 'brute', 'n_neighbors': 5, 'weig...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,29
27,0.000000,0.000000,0.016133,0.000000e+00,brute,5,distance,"{'algorithm': 'brute', 'n_neighbors': 5, 'weig...",0.782971,0.746799,0.697993,0.819444,0.750000,0.759442,0.040445,22
28,0.003227,0.006453,0.000000,0.000000e+00,brute,10,uniform,"{'algorithm': 'brute', 'n_neighbors': 10, 'wei...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,29
29,0.000000,0.000000,0.015635,0.000000e+00,brute,10,distance,"{'algorithm': 'brute', 'n_neighbors': 10, 'wei...",0.799537,0.763089,0.697993,0.819444,0.733316,0.762676,0.043880,14
30,0.009381,0.007660,0.000000,0.000000e+00,brute,15,uniform,"{'algorithm': 'brute', 'n_neighbors': 15, 'wei...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,29
31,0.000000,0.000000,0.015630,0.000000e+00,brute,15,distance,"{'algorithm': 'brute', 'n_neighbors': 15, 'wei...",0.799537,0.758813,0.697993,0.819444,0.733316,0.761821,0.043906,18